// mixins
@mixin transition($time, $property: all, $easing: ease-in) {
  transition: $property $time $easing;
}

// variables
// parallax scroll
$parallax-offset: 60vh;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 5;
//colors
$black: #000;
$ochre: #D2DA77;
$green1: #046003;
$green2: #032823;
$green3: #044003;
$green4: #349752;
$brown: #211812;
$light-grey: #e7e7e7;
$white: #fff;
// fonts
$garamond: 'EB Garamond';
$futura: 'Futura';

html, body {
  overflow: hidden;
  background-color: $brown;
  color: $ochre;
  margin: 0;
}

h1, h2, h3, h4, p, div {
  color: $ochre;
}

//
.background {
  left: 0;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh + $parallax-offset;
  position: fixed;
  transform: translateY($parallax-offset);
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
  &:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:first-child {
    //background-image: url(https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640);
    transform: translateY(-$parallax-offset / 2);
    .content-wrapper {
      transform: translateY($parallax-offset /2);
    }
  }
  &:nth-child(2) {
    //background-image: url(https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640);
  }
  &:nth-child(3) {
    //background-image: url(https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640);
  }
  &:nth-child(4) {
    //background-image: url(https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640);
  }
}

/* Set stacking context of slides */
@for $i from 1 to ($slide-number + 1) {
  .background:nth-child(#{$i}) {
    z-index: ($slide-number + 1) - $i;
  }
}

section {

}

section:first-of-type {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
}

.content {
  &-wrapper {
    height: 100vh;
    font-family: $garamond;
    text-transform: uppercase;
    transform: translateY($content-offset);
    will-change: transform;
    backface-visibility: hidden;
    @include transition($transition-speed + .5, all, cubic-bezier(0.22, 0.44, 0, 1));
  }
  &-title {
    font-family: $futura;
    font-size: 8vh;
    margin: 0;
  }
  &-subtitle {
    font-size: 6vh;
    font-family: $garamond;
    margin: 0;
  }
  &-text {
    font-size: 4vh;
    font-family: $garamond;
    text-transform: none;
    margin: 0;
  }
}

table.lineup {
  font-family: $garamond;
  text-align: center;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 10px;
  table-layout: fixed;
  tr:first-child {
    font-size: 6vh;
    margin: 0;
  }
  tr:nth-child(2) {
    font-size: 4vh;
    margin: 0;
  }
  td {
    border: 1px solid;
    border-radius: 5px;
  }
  td:hover {
    background-color: $green3;
  }
  button {
    width: 100%;
    background-color: transparent;
    border: none;
    display: block;
    color: $ochre;
    text-decoration: none;
  }
}

.modal {
  &-content {
    background-color: $ochre;
  }
  &-header {
    border-bottom-color: $brown;
    span {
      text-shadow: none;
      color: $brown;
    }
    .close {
      opacity: 1;
    }
  }
}

// ------------- SET TRANSFORM VALUES ------------- //

.background.up-scroll {
  transform: translate3d(0, -$parallax-offset / 2, 0);
  .content-wrapper {
    transform: translateY($parallax-offset / 2);
  }
  + .background {
    transform: translate3d(0, $parallax-offset, 0);
    .content-wrapper {
      transform: translateY($parallax-offset);
    }
  }
}

.background.down-scroll {
  transform: translate3d(0, -(100vh + $parallax-offset), 0);
  .content-wrapper {
    transform: translateY($content-offset);
  }
  + .background:not(.down-scroll) {
    transform: translate3d(0, -$parallax-offset / 2, 0);
    .content-wrapper {
      transform: translateY($parallax-offset / 2);
    }
  }
}

// flipclock countdown
.countdown {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 0.6;
    -moz-transform: scale(0.6);
  }
}

// navtree/ legend
.container {
  &-navtree {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 30vw;
    height: 50vh;
    background-image: url("../img/branch.png");
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;
  }
  &-pattern {
    position: fixed;
    left: 0;
    top: -3vh;
    width: 50vw;
    height: 50vh;
    background-image: url("../img/heathlandPattern.png");
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;
  }
  &-map {
    border: 2px $ochre;
    border-radius: 5px;
  }
}

// google maps
#map {
  min-height: 400px;
  min-width: 400px;
  border-radius: 5px;
}

// branch animation
.branch {
  width: 300px;
  height: 300px;
  background: url('http://changeofpace.de/wp-content/uploads/2017/11/BranchSheet.png') left center;
  animation: play 2.0s steps(77);
  -webkit-animation-fill-mode: forwards;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@keyframes play {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -32347px 0px;
  }
}
