// mixins
@mixin transition($time, $property: all, $easing: ease-in) {
  transition: $property $time $easing;
}

// variables
// parallax scroll
$parallax-offset: 60vh;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 8;
//colors
$black: #000;
$ochre: #D2DA77;
$green1: #046003;
$green2: #032823;
$green3: #044003;
$green4: #349752;
$brown: #211812;
$brown2: #372d22;
$light-grey: #e7e7e7;
$white: #fff;
// fonts
$garamond: 'EB Garamond';
$futura: 'Futura';

html, body {
  overflow: hidden;
  background-color: $brown;
  color: $ochre;
  margin: 0;
}

h1, h2, h3, h4, p, div {
  color: $ochre;
}

//
.background {
  left: 0;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh + $parallax-offset;
  position: fixed;
  transform: translateY($parallax-offset);
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
  &:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:first-child {
    //background-image: url(https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640);
    transform: translateY(-$parallax-offset / 2);
    .content-wrapper {
      transform: translateY($parallax-offset /2);
    }
  }
  &:nth-child(2) {
    //background-image: url(https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640);
  }
  &:nth-child(3) {
    //background-image: url(https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640);
  }
  &:nth-child(4) {
    //background-image: url(https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640);
  }
}

/* Set stacking context of slides */
@for $i from 1 to ($slide-number + 1) {
  .background:nth-child(#{$i}) {
    z-index: ($slide-number + 1) - $i;
  }
}

section {

}

section:first-of-type {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
}

.content {
  &-wrapper {
    height: 100vh;
    font-family: $futura;
    text-transform: uppercase;
    transform: translateY($content-offset);
    will-change: transform;
    backface-visibility: hidden;
    @include transition($transition-speed + .5, all, cubic-bezier(0.22, 0.44, 0, 1));
  }
  &-title {
    font-family: $futura;
    font-size: 4em;
    margin: 5px 100px 0 0;
  }
  &-headtitle {
    font-family: $futura;
    font-size: 4em;
    margin: 0;
  }
  &-subtitle {
    font-size: 3em;
    font-family: $garamond;
    margin: 0;
  }
  &-text {
    font-size: 2em;
    font-family: $garamond;
    text-transform: none;
    margin: 0;
  }
}

.modal {
  &-content {
    background-color: $brown2;
  }
  &-header {
    border-bottom: 2px solid $brown;
    span {
      text-shadow: none;
      color: $ochre;
    }
    h5 {
      margin-top: 2vh;
    }
    .close {
      opacity: 1;
    }
  }
}

//old with table:
table.lineup {
  font-family: $futura;
  text-transform: none;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 10px;
  table-layout: fixed;
  tr:first-child {
    font-size: 3em;
    margin: 0;
    button {
      font-family: $garamond;
    }
  }
  tr:nth-child(2) {
    font-family: $garamond;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
    button {
      font-family: $garamond;
    }
  }
  td {
    border-radius: 2px;
    background-color: $brown2;
    color: $ochre;
  }
  td:hover {
    background-color: $green3;
  }
  button {
    font-family: $futura;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: block;
    color: $ochre;
    text-decoration: none;
  }
  button:focus {
    outline: none;
  }
  .emptytd {
    background-color: transparent;
  }
}

// ------------- SET TRANSFORM VALUES ------------- //

.background.up-scroll {
  transform: translate3d(0, -$parallax-offset / 2, 0);
  .content-wrapper {
    transform: translateY($parallax-offset / 2);
  }
  + .background {
    transform: translate3d(0, $parallax-offset, 0);
    .content-wrapper {
      transform: translateY($parallax-offset);
    }
  }
}

.background.down-scroll {
  transform: translate3d(0, -(100vh + $parallax-offset), 0);
  .content-wrapper {
    transform: translateY($content-offset);
  }
  + .background:not(.down-scroll) {
    transform: translate3d(0, -$parallax-offset / 2, 0);
    .content-wrapper {
      transform: translateY($parallax-offset / 2);
    }
  }
}

// flipclock countdown
.countdown {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 0.6;
    -moz-transform: scale(0.6);
  }
}

// navtree/ legend
.container {
  &-navtree {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 30vw;
    height: 50vh;
    background-image: url("../img/branch.png");
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;
    z-index: $slide-number + 2;
    pointer-events: none;
  }
  &-pattern {
    position: fixed;
    left: 0;
    top: -3vh;
    width: 50vw;
    height: 50vh;
    background-image: url("../img/heathlandPattern.png");
    background-size: contain;
    background-position-y: top;
    background-repeat: no-repeat;
    z-index: $slide-number + 2;
    pointer-events: none;
  }
  &-map {
    border: 2px $ochre;
    border-radius: 2px;
    &-address {
      margin-bottom: 2vh;
    }
  }
}

.contact {
  h5 {
    font-family: $garamond;
    font-size: 1.5em;
  }
  p {
    font-family: $futura;
    font-size: 1em;
    margin: 0;
  }
  button {
    width: 100%;
    padding: 2vh 0;
    font-size: 2em;
    font-family: $garamond;
    border: none;
    border-radius: 2px;
    color: $ochre;
    background-color: $brown2;
    text-transform: uppercase;
    margin-top: 2vh;
  }
  button:hover {
    background-color: $green3;
  }
  .addr2 {
    text-align: right;
  }
  .disclaimer {
    font-family: $futura;
    font-size: 0.5em;
    font-style: italic;
  }
}

// google maps
#map {
  min-height: 400px;
  min-width: 400px;
  border-radius: 2px;
}

// branch animation
.branch {
  width: 350px;
  height: 350px;
  background: url('http://changeofpace.de/wp-content/uploads/2017/11/BranchSheet.png') left center;
  animation: play 2.0s steps(77);
  -webkit-animation-fill-mode: forwards;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@keyframes play {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -32347px 0px;
  }
}


.modalImg {
  width: 100%;
}

//Hamburger Menu
nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: $slide-number + 3;
  a {
    text-decoration: none;
    color: $ochre;
    transition: color 0.3s ease;
  }

  a:hover {
    color: $brown2;
    transition: color 0.3s ease;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    right: 50px;

    z-index: $slide-number + 3;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: $slide-number + 4; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: $ochre;
    border-radius: 3px;

    z-index: $slide-number + 3;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $ochre;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -100px;
    padding: 50px;
    padding-top: 125px;
    border-radius: 1px;
    opacity: 0.8;
    height: 110vh;

    background: $brown2;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
    font-family: $futura;
    text-transform: uppercase;
    color: $ochre;
    cursor: pointer;
  }

  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

@media(max-width: 992px) {

  .smallFontButton {
    font-size: 1.5em;
  }
  .bigRow {
    display: none;
  }
  .modal {
    font-size: 2.5em;
    h5 {
      font-size: 1.5em;
    }
    span {
      font-size: 2em;
    }
    iframe {
      height: 76px;
    }
  }
  .instagramDiv {
    margin-top: 6vh;
  }

  .container-map {
    width: 70vw;
    height: 70vw;
    #map {
      width: 100%;
      height: 100%;
    }
  }
}

@media(min-width: 993px) {
  .smallRow {
    display: none;
  }
}
